.button {
  height: 40px;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--primary-dark);
  color: var(--text-color);
  cursor: pointer;
}

.button:hover {
  filter: brightness(1.1);
}

.button:active {
  transform: scale(0.99);
}

.button:disabled {
  cursor: not-allowed;
  transform: none;
  filter: grayscale(1);
}
